.home_wraper {
  padding-top: 30px;
  margin-top: 158px; }
  .home_wraper .banner_main {
    -ms-grid-columns: (1fr)[3] 300px;
    grid-template-columns: repeat(3, 1fr) 300px;
    display: -ms-grid;
    display: grid;
    grid-gap: 32px; }
    .home_wraper .banner_main .banner_home_fast {
      -ms-grid-columns: 6fr 7fr;
      grid-template-columns: 6fr 7fr;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      display: -ms-grid;
      display: grid;
      grid-gap: 12px; }
      .home_wraper .banner_main .banner_home_fast .fast_file_items .home_head {
        line-height: 1.5;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 15px;
        color: #121212;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .home_wraper .banner_main .banner_home_fast .fast_file_items .home_head:hover {
          color: #1a237e; }
      .home_wraper .banner_main .banner_home_fast .fast_file_items .home_pra {
        color: #555;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 1.7; }
      .home_wraper .banner_main .banner_home_fast .fast_file_items .home_upedat {
        color: #555;
        font-size: small;
        margin-bottom: 5px;
        line-height: 1.7; }
      .home_wraper .banner_main .banner_home_fast .file_tex {
        font-size: small;
        margin-top: 10px;
        display: block;
        color: #555; }
    .home_wraper .banner_main .fast_file {
      position: relative; }
      .home_wraper .banner_main .fast_file::after {
        content: "";
        width: 1px;
        position: absolute;
        background: #e2e2e2;
        top: 0;
        bottom: 0;
        right: -16px; }
      .home_wraper .banner_main .fast_file .home_LEADR {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.6;
        color: #121212;
        margin-bottom: 10px; }
        .home_wraper .banner_main .fast_file .home_LEADR:hover {
          color: #1a237e; }
      .home_wraper .banner_main .fast_file .home_pra {
        color: #555;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 1.7; }
      .home_wraper .banner_main .fast_file .home_upedat {
        color: #555;
        font-size: small;
        margin-bottom: 5px;
        line-height: 1.7; }
      .home_wraper .banner_main .fast_file .frrdomImg {
        padding-top: 9px; }
    .home_wraper .banner_main .banner_two {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1/4;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      grid-gap: 32px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      position: relative; }
      .home_wraper .banner_main .banner_two::before {
        content: "";
        width: 100%;
        height: 1px;
        background: #e2e2e2;
        position: absolute;
        top: -16px; }
      .home_wraper .banner_main .banner_two::after {
        content: "";
        width: 1px;
        position: absolute;
        background: #e2e2e2;
        top: -50px;
        bottom: 0;
        right: -16px; }
      .home_wraper .banner_main .banner_two .banner_home_secnd {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        display: -ms-grid;
        display: grid;
        grid-gap: 32px;
        position: relative; }
        .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item {
          position: relative; }
          .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item::before {
            content: "";
            width: 1px;
            height: 100%;
            background: #e2e2e2;
            position: absolute;
            right: -16px; }
          .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item .home_head {
            line-height: 1.5;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            font-family: 'Merriweather Sans', sans-serif;
            margin-bottom: 15px;
            color: #121212;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item .home_head:hover {
              color: #1a237e; }
          .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item .home_pra {
            color: #555;
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 1.7; }
          .home_wraper .banner_main .banner_two .banner_home_secnd .banner_item .home_upedat {
            color: #555;
            font-size: small;
            margin-bottom: 5px;
            line-height: 1.7; }
        .home_wraper .banner_main .banner_two .banner_home_secnd:last-child::before {
          background: transparent; }
      .home_wraper .banner_main .banner_two .banner_media {
        position: relative;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        display: -ms-grid;
        display: grid;
        grid-gap: 32px;
        overflow: hidden; }
        .home_wraper .banner_main .banner_two .banner_media::before {
          content: "";
          width: 100%;
          height: 1px;
          background: #e2e2e2;
          position: absolute;
          top: -16px; }
        .home_wraper .banner_main .banner_two .banner_media .media_main {
          position: relative; }
          .home_wraper .banner_main .banner_two .banner_media .media_main::before {
            content: "";
            width: 1px;
            height: 100%;
            background: #e2e2e2;
            position: absolute;
            right: -16px; }
          .home_wraper .banner_main .banner_two .banner_media .media_main::after {
            content: "";
            height: 1px;
            position: absolute;
            background: #e2e2e2;
            bottom: -16px;
            left: 0;
            right: -32px; }
          .home_wraper .banner_main .banner_two .banner_media .media_main .mediaimg {
            float: right;
            margin-left: 10px;
            width: 40%;
            position: relative;
            line-height: 0;
            float: left;
            margin-left: 0;
            margin-right: 13px;
            margin-bottom: 5px; }
            .home_wraper .banner_main .banner_two .banner_media .media_main .mediaimg a {
              display: inline-block;
              position: relative;
              overflow: hidden;
              padding-top: 66.66%;
              width: 100%;
              background-color: red;
              margin: 0; }
              .home_wraper .banner_main .banner_two .banner_media .media_main .mediaimg a img {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                -o-object-fit: cover;
                object-fit: cover; }
          .home_wraper .banner_main .banner_two .banner_media .media_main .banner_item .media_head {
            width: 55%;
            float: right;
            margin-bottom: 6px; }
            .home_wraper .banner_main .banner_two .banner_media .media_main .banner_item .media_head a {
              margin-left: 0;
              position: relative;
              font-size: 18px;
              line-height: 1.3;
              font-weight: 600;
              font-family: 'Merriweather Sans', sans-serif;
              color: #121212;
              -webkit-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              .home_wraper .banner_main .banner_two .banner_media .media_main .banner_item .media_head a:hover {
                color: #1a237e; }
          .home_wraper .banner_main .banner_two .banner_media .media_main .upedat_time {
            color: #555;
            font-size: small;
            line-height: 1.7; }
    .home_wraper .banner_main .main_addblog {
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      grid-column: 4/5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      position: relative; }
      .home_wraper .banner_main .main_addblog .main_sid .main_items .siedbara_img {
        height: 250px;
        cursor: pointer; }
        .home_wraper .banner_main .main_addblog .main_sid .main_items .siedbara_img img {
          width: 100%;
          height: 250px; }
      .home_wraper .banner_main .main_addblog .main_sid .main_items .Background {
        background-color: #f4f3f3;
        height: 250px;
        width: 300px; }
    .home_wraper .banner_main .SideBar {
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      grid-column: 4/5;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      -ms-grid-columns: 4fr;
      grid-template-columns: 4fr;
      display: -ms-grid;
      display: grid;
      grid-gap: 32px;
      position: relative; }
      .home_wraper .banner_main .SideBar .main_sid,
      .home_wraper .banner_main .SideBar .main_sidsec {
        position: relative; }
        .home_wraper .banner_main .SideBar .main_sid::before,
        .home_wraper .banner_main .SideBar .main_sidsec::before {
          content: "";
          height: 1px;
          position: absolute;
          background: #e2e2e2;
          top: -16px;
          left: 0;
          right: 0; }
        .home_wraper .banner_main .SideBar .main_sid .main_items .siedbara_img,
        .home_wraper .banner_main .SideBar .main_sidsec .main_items .siedbara_img {
          position: relative; }
          .home_wraper .banner_main .SideBar .main_sid .main_items .siedbara_img .img_fluid,
          .home_wraper .banner_main .SideBar .main_sidsec .main_items .siedbara_img .img_fluid {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
        .home_wraper .banner_main .SideBar .main_sid .main_items .Background,
        .home_wraper .banner_main .SideBar .main_sidsec .main_items .Background {
          background-color: #f4f3f3;
          height: 250px; }
        .home_wraper .banner_main .SideBar .main_sid .main_items .side_pra,
        .home_wraper .banner_main .SideBar .main_sidsec .main_items .side_pra {
          margin-top: 10px; }
          .home_wraper .banner_main .SideBar .main_sid .main_items .side_pra a,
          .home_wraper .banner_main .SideBar .main_sidsec .main_items .side_pra a {
            color: #121212;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            font-size: 16px;
            font-weight: 600; }
            .home_wraper .banner_main .SideBar .main_sid .main_items .side_pra a:hover,
            .home_wraper .banner_main .SideBar .main_sidsec .main_items .side_pra a:hover {
              color: #1a237e; }
        .home_wraper .banner_main .SideBar .main_sid .media_main .mediaimg,
        .home_wraper .banner_main .SideBar .main_sidsec .media_main .mediaimg {
          float: right;
          margin-left: 10px;
          width: 40%;
          position: relative;
          line-height: 0;
          float: left;
          margin-left: 0;
          margin-right: 13px;
          margin-bottom: 5px; }
          .home_wraper .banner_main .SideBar .main_sid .media_main .mediaimg a,
          .home_wraper .banner_main .SideBar .main_sidsec .media_main .mediaimg a {
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding-top: 66.66%;
            width: 100%;
            background-color: red;
            margin: 0; }
            .home_wraper .banner_main .SideBar .main_sid .media_main .mediaimg a img,
            .home_wraper .banner_main .SideBar .main_sidsec .media_main .mediaimg a img {
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              overflow: hidden;
              -o-object-fit: cover;
              object-fit: cover; }
        .home_wraper .banner_main .SideBar .main_sid .media_main .banner_item .media_head,
        .home_wraper .banner_main .SideBar .main_sidsec .media_main .banner_item .media_head {
          width: 55%;
          float: right;
          margin-bottom: 6px; }
          .home_wraper .banner_main .SideBar .main_sid .media_main .banner_item .media_head a,
          .home_wraper .banner_main .SideBar .main_sidsec .media_main .banner_item .media_head a {
            margin-left: 0;
            position: relative;
            font-size: 18px;
            line-height: 1.3;
            font-weight: 600;
            font-family: 'Merriweather Sans', sans-serif;
            color: #121212;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .home_wraper .banner_main .SideBar .main_sid .media_main .banner_item .media_head a:hover,
            .home_wraper .banner_main .SideBar .main_sidsec .media_main .banner_item .media_head a:hover {
              color: #1a237e; }
        .home_wraper .banner_main .SideBar .main_sid .media_main .upedat_time,
        .home_wraper .banner_main .SideBar .main_sidsec .media_main .upedat_time {
          color: #555;
          font-size: small;
          line-height: 1.7; }
      .home_wraper .banner_main .SideBar .main_papar {
        position: relative; }
        .home_wraper .banner_main .SideBar .main_papar::before {
          content: "";
          height: 1px;
          position: absolute;
          background: #e2e2e2;
          top: -16px;
          left: 0;
          width: 100%; }
        .home_wraper .banner_main .SideBar .main_papar .papar_manu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 10px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: #c8dff3; }
          .home_wraper .banner_main .SideBar .main_papar .papar_manu .paper_list a {
            color: #1a237e; }
            .home_wraper .banner_main .SideBar .main_papar .papar_manu .paper_list a .paper_pra {
              max-width: 164px;
              font-size: 16px;
              line-height: 1.7;
              margin-right: 6px;
              font-weight: 600;
              font-family: 'Merriweather Sans', sans-serif;
              font-family: 'Shurjo', sans-serif; }
