.motamot_worap {
  margin-bottom: 30px; }
  .motamot_worap .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 6fr;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 30px; }
    .motamot_worap .wrapper .card_wold {
      border: 0;
      background-color: transparent;
      position: relative; }
      .motamot_worap .wrapper .card_wold::before {
        content: "";
        width: 1px;
        height: 100%;
        background: #e2e2e2;
        position: absolute;
        right: -15px; }
      .motamot_worap .wrapper .card_wold .card-img-top {
        border-radius: 0; }
      .motamot_worap .wrapper .card_wold .card-body {
        border-radius: 0;
        padding: 20px 0; }
        .motamot_worap .wrapper .card_wold .card-body .card_text_head {
          color: #121212;
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 15px;
          line-height: 1.36;
          padding-bottom: 0; }
        .motamot_worap .wrapper .card_wold .card-body .card-text {
          color: #555;
          font-size: 14px;
          padding-bottom: 15px; }
        .motamot_worap .wrapper .card_wold .card-body .wold_upedat {
          color: #929292;
          font-size: 11px;
          margin-bottom: 5px;
          line-height: 1.7; }
    .motamot_worap .wrapper .world_item {
      margin-bottom: 15px; }
      .motamot_worap .wrapper .world_item .costom_story_items {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 4fr 8fr;
        grid-template-columns: 4fr 8fr;
        grid-column-gap: 15px;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 15px; }
        .motamot_worap .wrapper .world_item .costom_story_items .story_items {
          padding-bottom: 15px; }
          .motamot_worap .wrapper .world_item .costom_story_items .story_items .card-body {
            padding: 0; }
            .motamot_worap .wrapper .world_item .costom_story_items .story_items .card-body .sub_title {
              color: #1a237e;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 14px;
              margin-bottom: 10px; }
            .motamot_worap .wrapper .world_item .costom_story_items .story_items .card-body .card-title {
              line-height: 1.3;
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px;
              line-height: 1.36;
              color: #121212; }
            .motamot_worap .wrapper .world_item .costom_story_items .story_items .card-body .card-text {
              line-height: 1.3;
              color: #555;
              font-weight: 500;
              font-size: 14px;
              margin-bottom: 8px; }
            .motamot_worap .wrapper .world_item .costom_story_items .story_items .card-body .costom_upedat {
              color: #929292;
              font-size: 11px;
              margin-bottom: 5px;
              line-height: 1.7; }
