.home_wraper {
    padding-top: 30px;
    margin-top: 158px;
    .banner_main {
        grid-template-columns: repeat(3,1fr) 300px;
        display: grid;
        grid-gap: 32px;
        .banner_home_fast {
            grid-template-columns: 6fr 7fr;
            grid-column: 1/3;
            grid-row: 1/2;
            display: grid;
            grid-gap: 12px;
            .fast_file_items {
                .home_head {
                    line-height: 1.5;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Roboto', sans-serif;
                    font-family: 'Merriweather Sans', sans-serif;
                    margin-bottom: 15px;
                    color: #121212;
                    transition: all 0.5s ease;
                    &:hover {
                    color: #1a237e; 
                    }
                }
                
                .home_pra {    
                    color: #555;
                    font-size: 14px;
                    margin-bottom: 15px;
                    line-height: 1.7;
                }
                .home_upedat {
                    color: #555;
                    font-size: small;
                    margin-bottom: 5px;
                    line-height: 1.7;
                }
            }
            .file_tex  {
                font-size: small;
                margin-top: 10px;
                display: block;
                color: #555;
            }
        
        }
        
        .fast_file {
            position: relative;
            &::after {
                content: "";
                width: 1px;
                position: absolute;
                background: #e2e2e2;
                top: 0;
                bottom: 0;
                right: -16px;
            }
            .home_LEADR{
                font-size: 16px;
                font-weight: 600;
                line-height: 1.6;
                color : #121212;
                margin-bottom: 10px;
                &:hover {
                    color: #1a237e; 
                }
            } 
            .home_pra {    
                color: #555;
                font-size: 14px;
                margin-bottom: 15px;
                line-height: 1.7;
            }
            .home_upedat {
                color: #555;
                font-size: small;
                margin-bottom: 5px;
                line-height: 1.7;
            }
            .frrdomImg {
                padding-top: 9px;
            }
        }
        
        .banner_two {
            grid-column: 1/4;
            grid-row: 2/3;
            grid-gap: 32px;
            display: grid;
            grid-template-columns: 1fr;
            position: relative;
            &::before{
                content: "";
                width: 100%;
                height: 1px;
                background: #e2e2e2;
                position: absolute;
                top: -16px;
            }
            &::after {
                content: "";
                width: 1px;
                position: absolute;
                background: #e2e2e2;
                top: -50px;
                bottom: 0;
                right: -16px;
            }
            .banner_home_secnd {
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                grid-gap: 32px;
                position: relative;
                .banner_item {
                    position: relative;
                    &::before{
                        content: "";
                        width: 1px;
                        height: 100%;
                        background: #e2e2e2;
                        position: absolute;
                        right: -16px;
                    }
                    
                    .home_head {
                        line-height: 1.5;
                        font-size: 18px;
                        font-weight: 600;
                        font-family: 'Roboto', sans-serif;
                        font-family: 'Merriweather Sans', sans-serif;
                        margin-bottom: 15px;
                        color: #121212;
                        transition: all 0.5s ease;
                        &:hover {
                            color: #1a237e; 
                        }
                    }
                    .home_pra {    
                        color: #555;
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 1.7;
                    }
                    .home_upedat {
                        color: #555;
                        font-size: small;
                        margin-bottom: 5px;
                        line-height: 1.7;
                    }
                
                }
                &:last-child {
                    &::before {
                        background: transparent;
                    }
                }
            
            }
            .banner_media { 
                position: relative;
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                grid-gap: 32px;
                &::before{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: #e2e2e2;
                    position: absolute;
                    top: -16px;
                }
                .media_main {
                    position: relative;
                    &::before{
                        content: "";
                        width: 1px;
                        height: 100%;
                        background: #e2e2e2;
                        position: absolute;
                        right: -16px;
                    }
                
                    .mediaimg {
                        float: right;
                        margin-left: 10px;
                        width: 40%;
                        position: relative;
                        line-height: 0;
                        float: left;
                        margin-left: 0;
                        margin-right: 13px;
                        margin-bottom: 5px;
                        a {
                            display: inline-block;
                            position: relative;
                            overflow: hidden;
                            padding-top: 66.66%;
                            width: 100%;
                            background-color: red;
                            margin: 0;
                                img {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    object-fit: cover;
                                }
                        }
                       
                    }
                    .banner_item {  
                        .media_head {
                            width: 55%;
                            float: right;
                            margin-bottom: 6px;
                            a {
                                margin-left: 0;
                                position: relative;
                                font-size: 18px;
                                line-height: 1.3;
                                font-weight: 600;
                                font-family: 'Merriweather Sans', sans-serif;
                                color: #121212;
                                transition: all 0.5s ease;
                                &:hover {
                                    color: #1a237e; 
                                }
                            }
                            
                        }
                        
                    }
                    .upedat_time {
                        color: #555;
                        font-size: small;
                        line-height: 1.7;
        
                    }
                }
                // .media_main {
                //     position: relative;
                //     &::before{
                //         content: "";
                //         width: 1px;
                //         height: 100%;
                //         background: #e2e2e2;
                //         position: absolute;
                //         right: -16px;
                //     }
                
                //     .mediaimg {
                //         margin-right: 14px;
                //         .media_img { 
                //             width: 100%;
                //             max-width: 113px;
                //             height: 75px;
                //         }
                //     }
                //     .banner_item {  
                //         display: flex;
                //         .media_head {
                //             a {
                //                 font-size: 18px;
                //                 line-height: 1.5;
                //                 font-weight: 600;
                //                 font-family: 'Merriweather Sans', sans-serif;
                //                 color: #121212;
                //                 transition: all 0.5s ease;
                //                 &:hover {
                //                     color: #1a237e; 
                //                 } 
                //             }
                            
                //         }
                        
                //     }
                //     .upedat_time {
                //         color: #555;
                //         font-size: small;
                //         line-height: 1.7;
                //         margin-top: 15px;
        
                //     }
                // }
            }
        }
        .main_addblog {
            grid-column: 4/5;
            grid-row: 1/2;
            position: relative;  
            .main_sid {
                .main_items {
                    .siedbara_img {
                        .img_fluid {
                            width: 100%;
                            height: 150px;
                        }
                    }
                    .Background {
                        background-color: #f4f3f3;
                        width: 294px;
                        height: 250px;
                    }
                    
                //     .side_pra {
                //         margin-bottom: 15px;
                //         a {
                //             color: #121212;
                //             transition: all 0.5s ease;
                //             font-size: 16px;
                //             font-weight: 600;
                //             &:hover {
                //              color: #1a237e; 
                //             }
                //         }
                        
                //     }
                //     .sid_manu {
                //         display: flex;
                //         .side_list {
                //             margin-bottom: 15px;
                //             a {
                //                 display: block;
                //                 .side_Img_right {
                //                     margin-right: 15px;
                //                 }
                //             }
                //             a {
                //                 .sidemanu_pra {
                //                     margin-bottom: 10px;
                //                     font-size: 16px;
                //                     line-height: 1.5;
                //                     font-weight: 600;
                //                     max-width: 180px;
                //                     font-family: 'Merriweather Sans', sans-serif;
                //                     color: #121212;
                //                     transition: all 0.5s ease;
                //                     &:hover {
                //                         color: #1a237e; 
                //                     }
                //                 }
    
                //             }
                //             .side_time {
                //                 color: #555;
                //                 font-size: 11px;
                //                 margin-bottom: 5px;
                //                 line-height: 1.7;
                //             }
                            
                //         }
                        
                //     }
                }
                
            }

        }
        
        .SideBar {
            grid-column: 4/5;
            grid-row: 2/3;
            grid-template-columns: 4fr; 
            display: grid;
            grid-gap: 32px;
            position: relative;
            
            .main_sid {
                position: relative;
                &::before {
                    content: "";
                    height: 1px;
                    position: absolute;
                    background: #e2e2e2;
                    top: -16px;
                    left: 0;
                    right: 0;
                }
                .main_items {
                    .siedbara_img {
                        position: relative;
                        .img_fluid {
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .Background {
                        background-color: #f4f3f3;
                        height: 250px;
                    }
                    
                    .side_pra {
                        margin-top: 10px;
                        a {
                            color: #121212;
                            transition: all 0.5s ease;
                            font-size: 16px;
                            font-weight: 600;
                            &:hover {
                             color: #1a237e; 
                            }
                        }
                        
                    }
                } 
                .media_main {
                    .mediaimg {
                        float: right;
                        margin-left: 10px;
                        width: 40%;
                        position: relative;
                        line-height: 0;
                        float: left;
                        margin-left: 0;
                        margin-right: 13px;
                        margin-bottom: 5px;
                        a {
                            display: inline-block;
                            position: relative;
                            overflow: hidden;
                            padding-top: 66.66%;
                            width: 100%;
                            background-color: red;
                            margin: 0;
                                img {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    object-fit: cover;
                                }
                        }
                       
                    }
                    .banner_item {  
                        .media_head {
                            width: 55%;
                            float: right;
                            margin-bottom: 6px;
                            a {
                                margin-left: 0;
                                position: relative;
                                font-size: 18px;
                                line-height: 1.3;
                                font-weight: 600;
                                font-family: 'Merriweather Sans', sans-serif;
                                color: #121212;
                                transition: all 0.5s ease;
                                &:hover {
                                    color: #1a237e; 
                                }
                            }
                            
                        }
                        
                    }
                    .upedat_time {
                        color: #555;
                        font-size: small;
                        line-height: 1.7;
        
                    }
                }
            }
           .main_papar {
                position: relative;
                &::before {
                    content: "";
                    height: 1px;
                    position: absolute;
                    background: #e2e2e2;
                    top: -16px;
                    left: 0;
                    width: 100%;
                }
               .papar_manu {
                   display: flex;
                   padding: 10px;
                   justify-content: center;
                   align-items: center;
                   background-color: #c8dff3;
                   .paper_list {
                       a {color: #1a237e; 
                           .paper_pra {
                                max-width: 164px;
                                font-size: 16px;
                                line-height: 1.7;
                                margin-right: 6px;
                                font-weight: 600;
                                font-family: 'Merriweather Sans', sans-serif;
                                font-family: 'Shurjo', sans-serif;
                            }
                       }
                    }
               }
           }

        }
        
        
    }
    
}

@media (min-width: 876px){
    .home_wraper .banner_main .banner_two .banner_media .media_main .mediaimg {
        // float: left;
        // margin-left: 0;
        // margin-right: 10px;
    }
    .banner_item {  
       
        .media_head {
            // width: 55%;
            // float: right;
            a {
                &:hover {
                   
                } 
            }
            
        }
        
    }

}